<section class="section">
  <div class="container">
    <h1 class="title">Get Original URL</h1>
    <%= form_with(url: original_urls_path, local: true) do |f| %>

      <%= f.fields_for :url do |ff| %>
        <div class="field">
          <%= ff.label :URL, class: "label required-field" %>
          <%= ff.text_field :short, autofocus: true, class: "input is-info", type: "text", placeholder: "Enter your short URL" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Get original URL!", class: "button button-large is-success is-outlined is-light" %>
      </div>
    <% end %>
  </div>
</section>
